
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li>Admin dashboard</li>
</ul>

<div class="yield">
  <ul>
    <a href="/admin/speakers"><li>Speakers</li></a>
    <a href="/admin/talks"><li>Talks</li></a>
    <a href="/admin/categories"><li>Categories</li></a>
  </ul>
</div>