<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/talks">Categories</a></li>
  <li>></li>
  <li>Edit category</li>
</ul>

<div class="yield">

  <form method="POST" action="/admin/categories/<%= @category.id %>">
  <div>
    <label for="edit-category-title">Title:</label>
    <input type="text" name="title" id="edit-category-title" value="<%=@category.title%>" />
  </div>

  <div>
    <label for="edit-category-description">Description:</label>
    <input type="text" name="description" id="edit-category-description" value="<%=@category.description%>" />
  </div>

  <div>
    <label for="publish-edited-category"></label>
    <a href="/admin/categories">Cancel</a>
    <input class="submit" type="submit" id="publish-edited-category" value="Publish category" />
  </div>

  </form>
</div>