<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/talks">Categories</a></li>
  <li>></li>
  <li>Add category</li>
</ul>

<div class="yield">
  <form method="POST" action="/admin/categories/new">
  <div>
    <label for="new-category-title">Title:</label>
    <input type="text" name="title" id="new-category-title" value="" />
  </div>

  <div>
    <label for="new-category-description">Description:</label>
    <input type="text" name="description" id="new-category-description" value="" />
  </div>

  <div>
    <label for="publish-new-category"></label>
    <a href="/admin/categories">Cancel</a>
    <input class="submit" type="submit" id="publish-new-category" value="Publish category" />
  </div>

  </form>
</div>