<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li>Categories</li>
</ul>

<div class="yield">
  <% for category in @categories %>
    <div>
      <h3><%= category.title %></h3>
      <h4><%= category.description %></h4>
      <a  href="/admin/categories/<%= category.id %>/edit">Edit category</a>
      <form method="POST" action="/admin/categories/<%= category.id %>/delete"> 
        <input class="submit" type="submit" id="delete-category" value="Delete category" >
      </form>
    </div>
  <% end %>
  <a href="/admin/categories/new">Add a category</a>
</div>
