
<a class="buy-ticket-button" href="http://www.google.com">BUY TICKETS</a>

<div class="hero">
  <img src="/images/cropped_hero.jpg" alt="Picture of Edinburgh">
</div>

<div class="speaker-container">
  <% for speaker in @speakers %>
    <div class="speaker">
      <div class="speaker-image-container">
        <a href="/speaker/<%= speaker.id %>"><img class="speaker-image" src="<%= speaker.image_url %>" alt="Speaker image"></a>
      </div>
      <div class="speaker-details">
        <a href="/speaker/<%= speaker.id %>"><h3 class="speaker-image-caption"><%= speaker.full_name %></h3></a>
        <p class="speaker-image-caption"><%= speaker.full_job %></p>
        <% for talk in speaker.talks %>
          <h3><%= talk.title %></h3>
          <p><%= talk.abstract %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
