<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <title>ScotlandPHP | Home</title>
</head>
<body>
  <div class="container">
    
    <a class="logo" href="/"><img src="/images/scotlandphp_logo.svg" alt="ScotlandPHP logo"/></a>

    <nav class="nav">
      <ul class="navbar">
        <li class="nav-item">
          <a href="/about">About ScotlandPHP</a>
        </li>
        <li class="nav-item">
          <a href="/conduct">Code of Conduct</a>
        </li>
        <li class="nav-item">
          <a href="/admin">Log in</a>
        </li>
      </ul>
    </nav>

    <section id="content">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="?" class="close">&times;</a>
      </div>
    <% end %>
    </section>

    <%= yield %>

    <div class="empty-footer-left"></div>

    <div class="footer">
      <div class="social-links">
        <a href="https://github.com/vickyjackson"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/qavicky/"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/herbivix"><i class="fab fa-twitter-square"></i></a>
      </div>
      <p>© 2018 Digital Stuff Ltd.</p>
      <div class="legal-links">
        <a href="./terms.html">Terms and Conditions</a>
        <span>|</span>
        <a href="./privacy.html">Privacy</a>
      </div>
    </div>

    <div class="empty-footer-right"></div>

  </div>
</body>