<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/talks">Talks</a></li>
  <li>></li>
  <li>Edit talk</li>
</ul>

<div class="yield">

  <form method="POST" action="/admin/talks/<%= @talk.id %>edit">
  <div>
    <label for="edit-talk-title">Title:</label>
    <input type="text" name="title" id="edit-talk-title" value="<%= @talk.title %>" />
  </div>

  <div>
    <label for="edit-talk-abstract">Abstract:</label>
    <input type="text" name="abstract" id="edit-talk-abstract" value="<%= @talk.abstract %>"/>
  </div>

  <label for="edit-talk-category">Category:</label>
  <select id="edit-talk-category">
    <% for category in @categories %>
      <option value="<%= category.id %>"><%= category.title %>
    <% end %>
  </select>

  <div>
    <label for="publish-edited-talk"></label>
    <a href="/admin/talks">Cancel</a>
    <input class="submit" type="submit" id="publish-edited-talk" value="Publish talk" />
  </div>

  </form>
</div>