<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/talks">Talks</a></li>
  <li>></li>
  <li>Add talk</li>
</ul>

<div class="yield">
  <form method="POST" action="/admin/talks/new">
  <div>
    <label for="new-talk-title">Title:</label>
    <input type="text" name="title" id="new-talk-title" value="" />
  </div>

  <div>
    <label for="new-talk-abstract">Abstract:</label>
    <input type="text" name="abstract" id="new-talk-abstract" value="" />
  </div>

  <label for="new-talk-category">Category:</label>
  <select id="new-talk-category">
    <% for category in @categories %>
      <option value="<%= category.id %>"><%= category.title %>
    <% end %>
  </select>

  <div>
    <label for="publish-new-talk"></label>
    <a href="/admin/talks">Cancel</a>
    <input class="submit" type="submit" id="publish-new-talk" value="Publish talk" />
  </div>

  </form>
</div>