<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li>Talks</li>
</ul>

<div class="yield">
  <% for talk in @talks %>
    <div>
      <h3><%= talk.title %></h3>
      <p><%= talk.abstract %></p>
      <a  href="/admin/talks/<%= talk.id %>/edit">Edit talk</a>
    </div>
    <form method="POST" action="/admin/talks/<%= talk.id %>/delete"> 
      <input class="submit" type="submit" id="delete" value="Delete talk" >
    </form>
  <% end %>
  <a href="/admin/talks/new">Add talk</a>
<div>