* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  color: black;
}

.header {
  background-color: black;
  font-family: 'Hind Madurai', sans-serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(7rem, auto);
  grid-template-areas:
  "logo logo logo logo nav nav nav nav nav nav nav nav"
  "hero hero hero hero hero hero hero hero hero hero hero hero"
  "content content content content content content content content content content content content"
  "empty-footer-left empty-footer-left empty-footer-left empty-footer-left footer footer footer footer empty-footer-right empty-footer-right empty-footer-right empty-footer-right";
}

.container-admin {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(7rem, auto);
  grid-template-areas:
  "logo logo logo logo nav nav nav nav nav nav nav nav"
  "breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
  "content content content content content content content content content content content content"
  "empty-footer-left empty-footer-left empty-footer-left empty-footer-left footer footer footer footer empty-footer-right empty-footer-right empty-footer-right empty-footer-right";
}

.logo {
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-area: logo;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo img {
  display: flex;
  height: 50px;
  margin-left: 6rem;
  margin-bottom: 1rem;
}

.nav {
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  grid-area: nav;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav ul li {
  display: inline-block;
  margin-right: 6rem;
  margin-bottom: 1rem;
}

.hero {
  grid-area: hero;
}

.hero img {
  height: auto;
  width: 100%;
}

.buy-ticket-button {
  color: black;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin-top: 28rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0%;
  height: 1.5rem;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 0;
}

.breadcrumb {
  grid-area: breadcrumb;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.breadcrumb li {
  list-style-type: none;
  padding-right: 1rem;
}

.admin-nav {
  grid-area: content;
}

.yield {
  grid-area: content;
  margin-left: 3rem;
}

.flash-message {
  grid-area: content; 
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.speaker-container {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.speaker {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  flex: 0 48%;
}

.speaker-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 2rem;
}

form input {
  background-color: white;
  display: block;
  height: 2.5rem;
  width: 50%;
  margin-bottom: 1rem;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-width: 1px;
}

form .submit {
  background-color: white;
  border-radius: 0%;
  height: 3rem;
  width: auto;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-style: ridge;
  border-color: #989898;
  display: inline-block;
}

.empty-footer-left {
  grid-area: empty-footer-left;
  background-color: #000;
}

.empty-footer-right {
  grid-area: empty-footer-right;
  background-color: #000;
}

.footer {
  grid-area: footer;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer * {
  color: white;
  background-color: #000;
}

.footer i {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 2rem;
  text-decoration: none;
}

.footer p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
