<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/speakers">Speakers</a></li>
  <li>></li>
  <li>Edit speaker</li>
</ul>

<div class="yield">
<form method="POST" action="/admin/speakers/<%= @speaker.id %>">
<div>
  <label for="edit-speaker-first-name">First Name:</label>
  <input type="text" name="first_name" id="edit-speaker-first-name" value="<%= @speaker.first_name%>" />
</div>

<div>
  <label for="edit-speaker-last-name">Last Name:</label>
  <input type="text" name="last_name" id="edit-speaker-last-name" value="<%= @speaker.last_name%>" />
</div>

<div>
  <label for="edit-speaker-job-title">Job title:</label>
  <input type="text" name="job_title" id="edit-speaker-job-title" value="<%= @speaker.job_title%>" />
</div>

<div>
  <label for="edit-speaker-organisation">Organisation:</label>
  <input type="text" name="organisation" id="edit-speaker-organisation" value="<%= @speaker.organisation %>" />
</div>

<div>
  <label for="edit-speaker-bio">Bio:</label>
  <input type="text" name="bio" id="edit-speaker-bio" value="<%= @speaker.bio %>" />
</div>

<div>
  <label for="edit-speaker-email">Email:</label>
  <input type="text" name="email" id="edit-speaker-email" value="<%= @speaker.email %>" />
</div>

<div>
  <label for="edit-speaker-twitter">Twitter: @</label>
  <input type="text" name="twitter" id="edit-speaker-twitter" value="<%= @speaker.twitter %>" />
</div>

<div>
  <label for="edit-speaker-linkedin">LinkedIn:</label>
  <input type="text" name="linkedin" id="edit-speaker-linkedin" value="<%= @speaker.linkedin %>" />
</div>

<div>
  <label for="edit-speaker-image-url">Image URL:</label>
  <input type="text" name="image_url" id="edit-speaker-image-url" value="<%= @speaker.image_url %>" />
</div>

<div>
  <label for="publish-edited-speaker"></label>
  <a href="/admin/speakers">Cancel</a>
  <input class="submit" type="submit" id="publish-edited-speaker" value="Save changes" />
</div>

</form>
</div>
