<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li><a href="/admin/speakers">Speakers</a></li>
  <li>></li>
  <li>Add a speaker</li>
</ul>

<div class="yield">
  <form method="POST" action="/admin/speakers/new">
  <div>
    <label for="new-speaker-first-name">First Name:</label>
    <input type="text" name="first_name" id="new-speaker-first-name" value="" />
  </div>

  <div>
    <label for="new-speaker-last-name">Last Name:</label>
    <input type="text" name="last_name" id="new-speaker-last-name" value="" />
  </div>

  <div>
    <label for="new-speaker-job-title">Job title:</label>
    <input type="text" name="job_title" id="new-speaker-job-title" value="" />
  </div>

  <div>
    <label for="new-speaker-organisation">Organisation:</label>
    <input type="text" name="organisation" id="new-speaker-organisation" value="" />
  </div>

  <div>
    <label for="new-speaker-bio">Bio:</label>
    <input type="text" name="bio" id="new-speaker-bio" value="" />
  </div>

  <div>
    <label for="new-speaker-email">Email:</label>
    <input type="text" name="email" id="new-speaker-email" value="" />
  </div>

  <div>
    <label for="new-speaker-twitter">Twitter: @</label>
    <input type="text" name="twitter" id="new-speaker-twitter" value="" />
  </div>

  <div>
    <label for="new-speaker-linkedin">LinkedIn:</label>
    <input type="text" name="linkedin" id="new-speaker-linkedin" value="" />
  </div>

  <div>
    <label for="new-speaker-img-url">Image URL:</label>
    <input type="text" name="img_url" id="new-speaker-img-url" value="" />
  </div>

  <div>
    <label for="publish-new-speaker"></label>
    <a href="/admin/speakers">Cancel</a>
    <input class="submit" type="submit" id="publish-new-speaker" value="Publish speaker" />
  </div>

  </form>
</div>