<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>></li>
  <li><a href="/admin">Admin Dashboard</a></li>
  <li>></li>
  <li>Speakers</li>
</ul>

<div class="speaker-container">
  <% for speaker in @speakers %>
    <div class="speaker">
      <div class="speaker-image-container">
        <a href="/speaker/<%= speaker.id %>"><img class="speaker-image" src="<%= speaker.image_url %>" alt="Speaker image"></a>
      </div>
      <div class="speaker-details">
        <a href="/speaker/<%= speaker.id %>"><h3 class="speaker-image-caption"><%= speaker.full_name %></h3></a>
        <p class="speaker-image-caption"><%= speaker.full_job %></p>
        <a  href="/admin/speakers/<%= speaker.id %>/edit">Edit speaker</a>
        <form method="POST" action="/admin/speakers/<%= speaker.id %>/delete"> 
          <input class="submit" type="submit" id="delete" value="Delete speaker" >
        </form>
      </div>
    </div>
  <% end %>
  <a href="/admin/speakers/new">Add a speaker</a>
</div>
